@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fixed-height {
    height: 24rem; 
    width: 24rem; 
    overflow: hidden;
  }

  .scrollable-content {
    height: calc(100% - 3rem); 
    overflow-y: auto;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dynamic-gradient {
  background: linear-gradient(270deg, #4f46e5, #3b82f6, #9333ea, #3b82f6);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.bg-dark-blue {
  background-color: #1d2a73; 
}

.from-navy-600 {
  background-color: #3b4a6b; 
}

.to-navy-400 {
  background-color: #6b7ba8; 
}
